<div class="card shadow-sm mb-4">
    <div class="card-body">
      <h2 class="card-title text-primary mb-4">Add Items</h2>
      <div class="mb-4">
        <div class="form-row">
          <div class="form-group col-md-3">
            <input class="form-control" [(ngModel)]="newItem.name" placeholder="Item name">
          </div>
          <div class="form-group col-md-3">
            <input type="number" class="form-control" [(ngModel)]="newItem.quantity" placeholder="Quantity">
          </div>
          <div class="form-group col-md-3">
            <input type="number" class="form-control" [(ngModel)]="newItem.price" placeholder="Price">
          </div>
          <div class="form-group col-md-3">
            <select class="form-control" [(ngModel)]="newItem.category">
              <option *ngFor="let category of itemCategories" [value]="category">{{category}}</option>
            </select>
          </div>
        </div>
        <button class="btn btn-primary btn-block" (click)="addItem()">Add Item</button>
      </div>
  
      <h2 class="card-title text-primary mb-4">Add People</h2>
      <div>
        <input class="form-control mb-3" [(ngModel)]="newPerson.name" placeholder="Person name">
        <h3 class="h5 mb-3">Items consumed:</h3>
        <ul class="list-group mb-3">
          <li *ngFor="let item of newPerson.items; let i = index" class="list-group-item d-flex justify-content-between align-items-center">
            {{item.name}} - {{item.quantity}} x {{item.price}}
            <div>
              <input type="number" class="form-control form-control-sm d-inline-block mr-2" style="width: 60px;" 
                     [(ngModel)]="item.quantity" (change)="updateItemQuantity(i, $event)">
              <button class="btn btn-danger btn-sm" (click)="removeItemFromPerson(i)">Remove</button>
            </div>
          </li>
        </ul>
        <div class="input-group mb-3">
          <select class="form-control" (change)="addItemToPerson($event)">
            <option value="">Select an item</option>
            <option *ngFor="let item of billService.getBill().items" [value]="item.name">{{item.name}}</option>
          </select>
          <div class="input-group-append">
            <input type="number" class="form-control" [(ngModel)]="newItemQuantity" placeholder="Quantity" style="width: 80px;">
          </div>
        </div>
        <button class="btn btn-primary btn-block" (click)="addPerson()">Add Person</button>
      </div>
    </div>
  </div>